@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}body{
    background: url(/img/pattern.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}#navbar{
    width: 100%;
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 1rem;
    margin: 0;
    background: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0
} .menuItem{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5rem;
    width: 80%;
    justify-content: space-around;
    padding: 10px;
    border-bottom: #000 1px solid;
}main{
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}.price{
    text-align: right;
}

@media (max-width: 600px) {
    main, .menuItem{
        width: 100vw;
    }
  }